/* amoled */


.theme-dark {
    --background-primary: #000000;
    --background-secondary: #0C0D0E;
    --background-secondary-alt: #000000;
    --background-tertiary: #000000;
    --background-floating: #0C0D0E;

    --input-background: var(--background-secondary);

    --channeltextarea-background: #121315;

    --background-modifier-hover: #2B2F35;
    --background-modifier-selected: #36373C;
    --background-modifier-accent: #26282C; /* seperator */

    --background-header: #0C0D0E; /* custom */

    --modal-background: var(--background-primary);
    --modal-footer-background: var(--background-secondary);

    /* powercord */
    --toast-background: var(--background-floating);
    --toast-header: var(--background-floating);
    --toast-contents: var(--background-primary);
}

/* apply header style */
.container-ZMc96U.themed-Hp1KC_ {
    --background-primary: var(--background-header);
}

/* hardcoded ಠ_ಠ */
.theme-dark .container-2cd8Mz, .theme-dark .background-fkKrXt, .theme-dark .perksModal-CLcR1c, .theme-dark .directoryModal-YJsOMv {
    background-color: var(--background-primary); /* main background */
}
.theme-dark .footer-1hTRRZ {
    background-color: var(--modal-footer-background); /* modal footer */
}
.theme-dark .keyboardShortcutsModal-2CRmCm {
    background-color: var(--modal-background); /* modal */
}
.theme-dark .popoutList-10IFAa {
    background-color: var(--background-floating); /* dropdown */
}
.theme-dark .headerBarInner-2pcZSM:after {
    display: none; /* removes weird gradient in "Home" tab */
}

/* remove secondary background */
.container-2o3qEW {
    --background-secondary: var(--background-primary);
}

/* remove modal shadows */
.theme-dark .footerSeparator-VzAYwb, .header-3OsQeK {
    box-shadow: none;
}

/* footer */
.info-3pQQBb > :last-child:after {
    content: 'AMOLED (by plexion)';
    text-transform: initial;
    display: block;
}