/* amoled */


.theme-dark {
    --background-primary: #000000;
    --background-secondary: #0C0D0E;
    --background-secondary-alt: #000000;
    --background-tertiary: #000000;
    --background-floating: #0C0D0E;

    --input-background: var(--background-secondary);

    --channeltextarea-background: #121315;

    --background-accent: #2B2F35;
    --background-modifier-hover: #2B2F35;
    --background-modifier-selected: #36373C;
    --background-modifier-accent: #26282C; /* seperator */

    --background-header: #0C0D0E; /* custom */

    --modal-background: var(--background-primary);
    --modal-footer-background: var(--background-secondary);

    --scrollbar-thin-thumb: #0C0D0E;
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: #0C0D0E;
	--scrollbar-auto-track: transparent;
	--scrollbar-auto-scrollbar-color-thumb: #0C0D0E;
	--scrollbar-auto-scrollbar-color-track: transparent;

    /* powercord */
    --toast-background: var(--background-floating);
    --toast-header: var(--background-floating);
    --toast-contents: var(--background-primary);

    --background-message-hover: rgba(255,255,255,0.035);
    /* TODO: swap --background-mentioned & --background-mentioned-hover */
}

/* apply header style */
.container-ZMc96U.themed-Hp1KC_ {
    --background-primary: var(--background-header);
}

/* hardcoded ಠ_ಠ */
.theme-dark .container-2cd8Mz, .theme-dark .background-fkKrXt, .theme-dark .perksModal-CLcR1c, .theme-dark .directoryModal-YJsOMv, .theme-dark .expandedInfo-1W31i3 {
    background-color: var(--background-primary); /* main background */
}
.theme-dark .footer-1hTRRZ {
    background-color: var(--modal-footer-background); /* modal footer */
}
.theme-dark .keyboardShortcutsModal-2CRmCm {
    background-color: var(--modal-background); /* modal */
}
.theme-dark .popoutList-10IFAa, .theme-dark .popout-AVsFMl, .theme-dark .autocomplete-3NRXG8, .categoryHeader-OpJ1Ly {
    background-color: var(--background-floating); /* dropdown / small popout */
}
.theme-dark .featureModalMessage-fZR6jp, .theme-dark .bottomDivider-ZmTm-j, .theme-dark .paginator-1eqD2g, .theme-dark .codeRedemptionRedirect-2hYMSQ {
    background-color: var(--background-secondary); /* message container in modal */
}

.theme-dark .headerBarInner-2pcZSM:after {
    display: none; /* removes weird gradient in "Home" tab */
}

/* remove secondary background */
.container-2o3qEW {
    --background-secondary: var(--background-primary);
}

/* remove modal shadows */
.theme-dark .footerSeparator-VzAYwb, .header-3OsQeK {
    box-shadow: none;
}

/* footer */
.info-3pQQBb > :last-child:after {
    content: 'AMOLED (by plexion)';
    text-transform: initial;
    display: block;
}

/* connections */
.connection-YOVI9j {
    background-color: var(--background-primary);
}
.connectionHeader-Ixbb1s {
    background-color: var(--background-secondary);
    padding: 13px 20px;
}










/* light theme shenanigans */

/* append text to light theme option */
#appearance-tab div .children-1xdcWE > :nth-child(2) div[role="radiogroup"] > :nth-child(2) .text-md-medium-2avxhQ:after {
    content: 'ಠ_ಠ';
    margin-left: 10px;
}

.theme-light #appearance-tab div .children-1xdcWE > :nth-child(2) div[role="radiogroup"] > :nth-child(2) .text-md-medium-2avxhQ:after {
    content: 'ಠ_ಠ (i warned you)';
    margin-left: -10px;
}
.theme-light #appearance-tab div .children-1xdcWE > :nth-child(2) div[role="radiogroup"] > :nth-child(2) .text-md-medium-2avxhQ {
    transform: rotateZ(7.727deg) scale(1.0727);
    position: relative;
    top: 25px;
}


.theme-light {
    --background-primary: #00ff2a;
    --background-secondary: yellow;
    --background-secondary-alt: orange;
    --background-tertiary: red;
    --background-floating: yellow;

    --text-normal: red;

    --font-display: Comic Sans MS;
    --font-primary: Comic Sans MS;
}



/* messages */
.theme-light .avatar-2e8lTP {
    transform: rotateZ(40.727deg) scale(2.3727);
    position: relative;
    left: 10px;
}
.theme-light .username-h_Y3Us, .theme-light .header-2jRmjb {
    transform: rotateZ(-3.727deg);
}


/* channel text area :nerd: */
.theme-light .channelTextArea-1FufC0 {
    transform: rotateZ(7.727deg) scale(1.0727);
}


/* member list */
.theme-light .member-2gU6Ar {
    transform: rotateZ(-50.727deg) scale(1.3727);
}


/* channel list */
.theme-light .modeSelected-3DmyhH .content-1gYQeQ, .theme-light .modeSelected-3DmyhH:hover .content-1gYQeQ {
    transform: rotateZ(-185.727deg) scale(1.3727);
    border-radius: 50%;
}
.theme-light .scroller-1ox3I2 {
    transform: rotateZ(-5.727deg) scale(1.0727);
    position: relative;
    z-index:0;
}
.theme-light .panels-3wFtMD {
    position: fixed;
    top: 150px;
    z-index: 4000;
    transform: rotateZ(-5.727deg) scale(1.5727);
    background-color: transparent;
}
.theme-light .panels-3wFtMD * {
    color: greenyellow;
    fill: orange;
}


/* calls */
.theme-light .callContainer-HtHELf {
    transform: rotateZ(7.727deg) scale(1.0727);
    position: relative;
    z-index: 2000;
}




/* Fireblaster5629 */
.theme-light div[aria-label="Fireblaster5629"] {
    background-image: url(https://i.pinimg.com/originals/70/d4/d4/70d4d4ff305cf54a08a4689bbe778405.jpg);
    background-position: center;
    background-size: 100%;
}